@keyframes gradient-moved {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes dropdown{
    0%{
        opacity: 0;
    }
    100%{opacity: 1;}
}