// COLORS
$primary: #fc6274;
$secondary: #ff9945;
$white: #FFF;
$white-200: #f9f9f9;
$black: #000;
$black-1: #111;
$black-2: #202021;
$gray-100: #ededed;
$gray-500: #90949c;
$gray-200: #595959;
$gray-300: #353c48;
$gray-400: #a8a8a8;
$gray-600: #c8c8c8;
$Violet: #621eec;
$danger: #dc3545;
$corn: #eeb406;
$facebook-color: #3b5998;
$twitter-color: rgb(85, 172, 238);
$pintrest-color: rgb(215, 30, 24);
$linked-color: rgb(21, 101, 192);
//PADDING
$padding-size-xs: 1rem;
$padding-size-sm: 3rem;
$padding-size-md: 6rem;
$padding-size-lg: 12rem;

$spacer: 1rem;

//FONT-SIZE
$font-size-xs: 1.5rem;
$font-size-sm: 1.6rem;
$font-size-md-2: 2rem;
$font-size-md: 2.5rem;
$font-size-md-3: 4.3rem;
$font-size-lg: 7rem;
