.footer{
    background-image: url(../../imgs/footer_bg.png);
    background-size: cover;
    width: 100%;
    min-height: 55rem;

    &__contant{
        padding-top: 15rem;
        padding-left: 3rem;
        max-width: 130rem;
        height: 100%;

       
    }

    
}