nav{
    padding: $padding-size-sm !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.059);
}

.nav__btns{
    display: flex;
}

.nav_btns-2{
    border: 1px solid $white;
    padding: $padding-size-xs;
    background-color: transparent;
    outline: none;
}