.search__select{
    padding: $padding-size-xs;
    font-size: $font-size-sm;
    width: 100%;
    outline: none !important;
    border-color: $gray-100 !important;
}

.input-group-prepend{
    width: 19rem !important;
}