.back-slash-before::before{
    content: "/";
    font-size: 12px;
    color: #ba72f4;
    position: absolute;
    left: 0;
    top: 50%;
    right: 79%;
    transform: translateY(-40%);
}

.under-line{
    position: relative;
    &::after
    {
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        background-color: $white;
        width: 23%;
        left: 0;
        top: 116%;
    }
}

.md-3 {
    margin-bottom: ($spacer * 5) !important;
  }

.pt-6 {
    margin-top: ($spacer * 15) !important;
}
  
